header {
  display: grid;
  grid-template-columns: 70px auto 70px 44px;
  align-items: center;
  background-color: var(--p-color);
  color: var(--text-color);
  font-size: 0.8rem;
}

header div h1 {
  margin: 2px;
}

header img,
header div {
  margin: 5px;
}

nav {
  background-color: var(--p-color);
  color: var(--text-color);
}

#navButton {
  font-size: 2rem;
  background: none;
  border: none;
  color: var(--p-color);
  cursor: pointer;
  width: 100%;
  text-align: left;
  padding: 0.25rem 2vw;
}

#navButton::before {
  content: "\2630";
  color: var(--text-color);
}

ul.menuLinks li a {
  display: block;
  padding: 0.75rem 2vw;
  color: var(--text-color);
  text-decoration: none;
  font-size: 1.2rem;
}

ul.menuLinks a:hover {
  background-color: var(--text-color);
  color: var(--p-color);
}

li.active a {
  background-color: rgba(0, 0, 0, 0.9);
}

ul.menuLinks {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

#navButton.open::before {
  content: "X";
  color: var(--text-color);
}

nav {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.5s ease-out;
}

nav ul {
  overflow: hidden;
}

nav.open {
  grid-template-rows: 1fr;
}

footer {
  background-color: var(--s-color);
  color: var(--p-color);
  font-weight: 600;
  padding: 1rem;
  margin: auto;
}

footer div {
  margin-left: 2rem;
}

body header {
  transition: background-color 0.3s, color 0.3s;
}

body.dark-mode header {
  background-color: #121212;
  color: var(--text-color);
}

@media only screen and (min-width: 50rem) {
  header {
    text-align: center;
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    padding: 1rem;
    background-color: var(--text-color);
    color: var(--p-color);
  }

  header img,
  header div {
    margin: 0;
  }

  #navButton {
    display: none;
  }

  ul.menuLinks li a {
    padding: 1.3rem;
  }

  ul.menuLinks,
  ul.menuLinks.open {
    display: flex;
    justify-content: flex-end;
  }

  header img {
    width: auto;
    height: auto;
  }

  nav {
    grid-template-rows: 1fr;
  }

  footer {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(2, 1fr);
  }

  header img {
    width: 60px;
    height: 60px;
  }

}

