h1,
h2,
h3 {
    font-family: "Raleway", sans-serif;
    font-display: swap;

}

p,
a {
    font-family: "Inria Sans", sans-serif;
    font-display: swap;

}

main h1 {
    text-align: center;
}

#toggleView {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

#gridView,
#listView {
    margin: 0 25px;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px 15px;
}

#gridView:hover,
#listView:hover {
    background-color: #f0f0f0;
    transition: background-color 0.3s;
}

section {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
    background-color: var(--s1-bcolor);
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 5px;
    align-items: center;
}

.grid section {
    text-align: center;
}

.grid img {
    border: 1px solid var(--p-bcolor);
    box-shadow: 0 0 10px #333;
}

.grid section>* {
    margin: 1rem;
}

.list,
.grid {
    margin: 20px;
}

.list section {
    margin: 0;
    padding: 0.5rem;
}


.list section img {
    display: none;
}

.list section h2 {
    font-size: 1rem;
}

.list section:nth-child(even) {
    background-color: lightcyan;
}

img {
    width: auto;
    height: auto;
}