@media only screen and (min-width: 40rem) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #joinusForm {
        grid-column: 1/2;
    }

    #membershipLevels {
        grid-column: 2/3;
    }

    #levelsInfo h2 {
        margin-top: 1rem;
    } 

}