main h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    font-weight: 600;

    label {
        display: block;
        color: var(--p-bcolor);
        padding-top: .2rem;
        font-size: 1.15rem;
    }

    h3 {
        font-size: 1.3rem;
        color: var(--p-bcolor);
        margin: 1.5rem 0 .5rem 0;
    }

    input[type=text],
    input[type=tel],
    input[type=date],
    input[type=email],
    textarea,
    select {
        display: block;
        margin: .1rem 0 1rem 0;
        padding: .3rem;
        border-radius: 4px;
        border-left-width: 5px;
        font-size: 1rem;
        width: 250px;
    }

    input:required {
        border-left-color: rgb(255, 46, 46);
    }

    input:focus {
        border-left-color: yellow;
        outline: none;
    }

    input:required:valid {
        border-left-color: lawngreen;
    }

    input[type=submit] {
        border: none;
        text-align: center;
        background-color: var(--p-bcolor);
        color: var(--t-color);
        border-radius: 1rem;
        padding: .75rem 1.5rem;
        margin: 2rem 0;
        font-size: 1.2rem;
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s, font-size 0.3s, transform 0.3s;
    }

    input[type=submit]:hover {
        background-color: var(--t-color);
        border: 2px solid var(--p-bcolor);
        color: var(--p-bcolor);
        transform: scale(1.05);
    }

    input[type=submit]:focus {
        outline: 2px dashed var(--p-bcolor);
    }


    input[type=radio] {
        width: 20px;
        height: 20px;
        margin-right: 10px;
        cursor: pointer;
    }

    section label {
        display: flex;
        align-items: center;
        padding: 1rem;
        color: var(--p-bcolor);
        font-size: 1.1rem;
    }
}

#membershipLevels {
    text-align: center;
    margin: 1rem;
}

#membershipLevels #levels section {
    margin-top: 10px;
    padding: 1.5rem;
    border-radius: 1rem;
}

#membershipLevels button {
    padding: .6rem;
    border-radius: 1rem;
    font-weight: 500;
    background-color: var(--p-bcolor);
    color: var(--t-color);
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, font-size 0.3s, transform 0.3s;
}

#membershipLevels button:hover {
    font-weight: 900;
    background-color: var(--t-color);
    border: 2px solid var(--p-bcolor);
    color: var(--p-bcolor);
    transform: scale(1.1);
}

.NP {
    border: solid var(--p-bcolor) 2px;
    animation: cardsAnimation 2s;
}

.B {
    background-color: #CD7F32;
    animation: cardsAnimation 2.5s;
    border: solid #CD7F32 3px;
}

.S {
    background-color: silver;
    animation: cardsAnimation 3s;
    border: solid silver 3px;
}

.G {
    background-color: #d4af37;
    animation: cardsAnimation 3.5s;
    border: solid #d4af37 3px;

}

@keyframes cardsAnimation {
    from {
        font-size: 1.25rem;
        background-color: var(--t-color);
        transform: translate(90%);
    }

    50% {
        transform: translate(-10%);
    }

    to {
        font-size: 1rem;
        transform: translate(0%);
    }

}

#levelsInfo {
    text-align: start;
    margin: auto;
    padding: 1rem;
    width: 80%;
}

#levelsInfo h3 {
    background-color: var(--p-bcolor);
    color: var(--t-color);
    padding: 1rem;
    font-size: 1.3rem;
    border-radius: 1rem;
    text-align: center;
}

#levelsInfo h4 {
    font-size: 1.2rem;
    text-align: center;
}

#levelsInfo ul {
    margin: 0 auto;
    width: fit-content;
}

#levelsInfo li {
    font-size: 1.2rem;
    margin: 0.5rem 0;
}

#levelsInfo li,
#levelsInfo p {
    font-size: 1.2rem;
}

#closeModal {
    position: absolute;
    top: 23px;
    right: 23px;
    padding: .5rem 1rem;
}

#membershipLevels #closeModal:hover {
    color: darkred;
}

::backdrop {
    background-color: rgba(0,0,0,0.5);
}
