@media only screen and (min-width: 38rem) {

    header {
       text-align: center;
       display: flex;
       align-self: center;
    }

    #navButton {
        display: none;
    }

    ul.menuLinks,
    ul.menuLinks.open {
        display: flex;
        justify-content: flex-end;
    }

    nav {
        grid-template-rows: 1fr;
    }
}