:root {
    --p-color: #11161b;
    --s-color: #27488f;
    --ptext-color: white;
}

h1,
h2,
h3 {
    font-family: "Inria Sans", sans-serif;
}

p,
a {
    font-family: "Raleway", sans-serif;
}

body {
    text-align: center;
}

#teotihuacan {
    width: 100%;
    height: 100%;
    margin: auto;
}

#courseWork,
#country,
#certificate {
    margin: 20px;
}

#courseWork h2,
#country h2,
#certificate h2 {
    background-color: var(--s-color);
    color: var(--ptext-color);
    padding: 1rem;
}

#certificate #filterTags {
    display: flex;
    margin: auto;
    justify-content: center;
}

#certificate #filterTags a {
    background-color: var(--p-color);
    color: var(--ptext-color);
    margin: 10px;
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    text-decoration: none;
    font-weight: 800;
}

#certificate #filterTags a:hover {
    background-color: var(--s-color);
}

.completed,
.incomplete {

    margin: 20px;
    padding: 0.5rem;

}

.completed {
    background-color: darkgreen;
    color: var(--ptext-color);
}

.incomplete {
    background-color: darkred;
    color: var(--ptext-color);
}

#totalCredits {
    font-weight: 700;
}

footer {
    background-color: var(--s-color);
    color: var(--ptext-color);
    text-align: center;
    padding: 1rem;
    margin: auto;
}